<ng-container *ngIf="products.length !=0">

  <div class="container-fluid">
    <div class="row">

      <div class="col-md-8 mt-5">
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th scope="col">Sr.No</th>
              <th scope="col">Product Name</th>
              <th scope="col">Product Image</th>
              <th scope="col">Price</th>
              <th scope="col">Quantity</th>
              <th scope="col">Total</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of products; let i = index">
              <th scope="row" style="width: 10%;">{{i+1}}</th>
              <td style="width: 20%;">{{item.title}}</td>
              <td><img style="width: 40%;" src="{{item.image}}" alt=""></td>
              <th style="width: 10%;">{{item.price}}</th>
              <td style="width: 10%;">{{item.quantity}}</td>
              <td style="width: 10%;">{{item.total}}</td>
              <td>
                  <i (click)="removeItem(item)" style="cursor: pointer;" class="fas fa-trash-alt"></i>
              </td>
          </tr>        
          </tbody>
        </table>
      </div>
      <div class="col-md-4 mt-3">
        <div class="col-md-12 order-md-2 mb-4">
          <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-muted">Your cart</span>
            <span class="badge badge-secondary badge-pill">{{productscount}}</span>
          </h4>
          <ul class="list-group mb-3">
            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                <h6 class="my-0">No. of prodcts:</h6>
              </div>
              <span class="text-muted">{{productscount}}</span>
            </li>
           
            <li class="list-group-item d-flex justify-content-between">
              <span>Total (INR):</span>
              <strong> ₹{{grandTotal}}</strong>
            </li>
            <li class="list-group-item d-flex justify-content-center">
              <div class="row" style="width: 100%;">
                <div class="col-md-6">
                  <button (click)="emptycart()" class="btn btn-warning ul-buttons">Empty Cart</button>

                </div>
                <div class="col-md-6" >
                  <button (click)="shopMore()" style="float: right;" class="btn btn-secondary ul-buttons">Shop More</button>

                </div>
                
              </div>
            </li>
          </ul>
    
         
        </div>
      </div>
  
     
    </div>
  </div>

</ng-container>


<ng-container *ngIf="products.length ==0">
  <div class="container">
    <div class="card">
      <h5 class="card-title">My Cart</h5>
    </div>
    <div class="center">
      <img
        src="https://rukminim1.flixcart.com/www/800/800/promos/16/05/2019/d438a32e-765a-4d8b-b4a6-520b560971e8.png?q=90"
        alt="">
      <h4>Your cart is empty!</h4>
      <h6>Add item to it now</h6>
      <button routerLink="/products/productlist" class="btn btn-primary">Shop Now</button>
    </div>
  </div>
</ng-container>